h1{
    color: rgb(241, 245, 240);
}
.titulo2{
    color: rgba(195, 197, 195, 0.961);
}
body{
    background-color:rgb(4, 9, 117)
}
h4{
    color: rgb(246, 240, 246);
}
button{
    background-color: rgb(17, 182, 67);
    border: none;
    color: rgb(228, 6, 177);
    padding: 15px 32px;
    text-decoration: none;
    font-size: 20px;
    margin: 4px;
    border-radius: 15px;
}
.primeiroBotao{
    background-color: rgb(16, 180, 206);
    border: none;
    color: rgb(43, 226, 125);
    padding: 15px 32px;
    text-decoration: none;
    font-size: 20px;
    margin: 4px;
    border-radius: 15px;
}
.segundoBotao{
    background-color: blueviolet;
    border: none;
    color: rgb(43, 226, 125);
    padding: 15px 32px;
    text-decoration: none;
    font-size: 20px;
    margin: 4px;
    border-radius: 15px;
}
.terceiroBotao{
    background-color: blueviolet;
    border: none;
    color: rgb(43, 226, 125);
    padding: 15px 32px;
    text-decoration: none;
    font-size: 20px;
    margin: 4px;
    border-radius: 15px;
}
.quartoBotao{
    background-color: blueviolet;
    border: none;
    color: rgb(43, 226, 125);
    padding: 15px 32px;
    text-decoration: none;
    font-size: 20px;
    margin: 4px;
    border-radius: 15px;
}
.quintoBotao{
    background-color: blueviolet;
    border: none;
    color: rgb(43, 226, 125);
    padding: 15px 32px;
    text-decoration: none;
    font-size: 20px;
    margin: 4px;
    border-radius: 15px;
}
.sextoBotao{
    background-color: blueviolet;
    border: none;
    color: rgb(43, 226, 125);
    padding: 15px 32px;
    text-decoration: none;
    font-size: 20px;
    margin: 4px;
    border-radius: 15px; 
}
.sétimoBotao{
    background-color: blueviolet;
    border: none;
    color: rgb(43, 226, 125);
    padding: 15px 32px;
    text-decoration: none;
    font-size: 20px;
    margin: 4px;
    border-radius: 15px; 
}
.oitavoBotao{
    background-color: blueviolet;
    border: none;
    color: rgb(43, 226, 125);
    padding: 15px 32px;
    text-decoration: none;
    font-size: 20px;
    margin: 4px;
    border-radius: 15px;
}




#imagem{
    display: none;
    max-width: 100%;
    height: auto;
}

.